/* Import Google Fonts (Rubik, Bebas Neue)*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300;400;500;700;800;900&display=swap');


/* Remove default margin, padding and border for all elements to make positioning easier */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Font family for body element */

body {
    font-family: 'Rubik', Helvetica, sans-serif;
}