/* Import Google Fonts (Rubik, Bebas Neue)*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300;400;500;700;800;900&display=swap');


/* Remove default margin, padding and border for all elements to make positioning easier */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Font family for body element */

body {
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 300;
    color: rgba (rgb(0, 0, 0))
}

/* Headings and logo */

/* Sets the font type and color for H1 and H2 headings */

h1,
h2 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

/* Set logo Float value to ensure is stays to the left of the screen and increase logo size */

#logo {
    Float: left;
    font-size: 2.5rem;
}

/*Navigation menu and links styling */

#nav-menu {
    font-size: 1.1rem;
    letter-spacing: 2px;
}

/* Styles the menu list items and floats them to the right of the screen */

#nav-menu,
#logo {
    line-height: 3rem;
}

/* Fixes the line height of the nav-menu and logo to give visual alignment */

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 1.5rem;
}

/* Styles the anchors in the nav-menu to remove decoration and set color */

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

/*Gives an underline effect on hover for nav-menu links */

#nav-menu a:hover {
    border-bottom: .2rem solid rgba(248, 105, 9, .4);
}

/*Styles the nav-menu link for the active page */

.active {
    border-bottom: .2rem solid rgba(248, 105, 9, 1);

}

/* Hero-image */

#hero-image {
    height: 37.5rem;
    width: 100%;
    background: url('../images/hero-image.jpg');
} 